<!DOCTYPE html>
<html>
 
<head>
    <title>Write an article</title>
</head>


<body>
	
	<form id="signup" name="signup" method="post" action="/write">
        <label for="title">Title</label>
        <input class="text" name="title" type="text" />
        <label for="content">Post</label>
        <input type="longtext" name="content">
        <input class="btn" type="submit" value="Sign Up" />
    </form>

</body>